body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    font-size: 48px;
    color: black;
    text-align: center;
}
h2{
    font-size: 36px;
    color: blue;
    text-decoration: underline;
    text-align: center;
}
p{
    font-size: 24px;
    color: black;

}
h3{
    font-size: 18px;
    color: maroon;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}